.product{
    width: 100%;
    display: flex;
    background-color: #3B7590;
    justify-content: space-around;
    margin: 0%;
}

.product img{
    width:700px;
}

.product-info{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.product-info h2{
    color: #43484D;
}

.product-info p{
    color: #358ED7;
}

.product-info h3{
    background-color: #282774;
    border-radius: 30px 0 0 30px;
    padding: 20px;
    border-top-width:1px;
    border-bottom-width:1px;
    text-align: center;
    color: white;
}

.product-info h4{
    background-color: #282774;
    padding: 20px;
    text-align: center;
    color: white;
}

.product-info button{
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    background-color: #860F76;
}